/* 
    about.css
*/

body {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: #f1f1f1;
    padding: 50px;
}

header {
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

section {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}
