/* 
    mods.css
*/

body {
    background-color: #20232a;
    font-family: 'Arial', sans-serif;
    color: #61dafb;
    padding: 50px;
}

header {
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

section {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}
