/* 
    settings.css
*/

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 42px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

section {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}
